<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>AddOption</title>
</head>
<body>
   <div class="grid justify-center my-6">
    <%-include ("header.ejs") %>
    <form action="" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
          <span class="text-xl block my-4 font-medium">Quetion Name/Title:</span>
          <input
            type="text"
            name="Option Title"
            class="rounded border border-black outline-none p-3 w-2/4"
            placeholder="Enter Quetion Name"
          />
          <input
          type="submit"
          value="Add"
          class="my-4 text-xl rounded bg-green-700 font-medium p-1 outline-none text-white w-20 h-12 cursor-pointer block"
        />
    </form>
   </div>
</body>
</html>