<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
  body {
    font-family: "Poppins", sans-serif, "Courier New", Courier, monospace;
    background: #414141;
    color: #ffff;
  }
</style>
<script src="https://cdn.tailwindcss.com"></script>

<div
  class="border-l-8 border-gray-300 text-3xl p-4 bg-gray-800 text-gray-200 flex items-center justify-between hover:text-white"
>
  Hey, <%=User%>
  <div class="inline-blcok float-right">
    <a
      class="text-xl rounded bg-green-700 font-medium p-2 outline-none text-white"
      href="/Signout"
      >SignOut</a
    >
    <a
      class="text-xl rounded bg-red-400 font-medium p-2 outline-none text-white"
      href="#"
      id="goBack"
      onclick="goback()"
    >
      <span class="font-medium text-2xl">&#x2190;</span> Go Back</a
    >
  </div>
</div>
<script>
  function goback() {
    let btnGoBack = (document.getElementById("goBack").href = "/");
  }
</script>
