<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }
      body {
        min-height: 100vh;
        width: 100%;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
      }
      .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 430px;
        width: 100%;
        background-color: #fff;
        border-radius: 7px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      }

      .container .form {
        padding: 2rem;
      }

      .form header {
        font-size: 2.5rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 1.5rem;
        color: #43e31f;
      }
      .form input {
        height: 50px;
        width: 100%;
        padding: 0 15px;
        font-size: 17px;
        margin-bottom: 1.3rem;
        border: 1px solid #ddd;
        border-radius: 6px;
        outline: none;
      }
      .form input:focus {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      }
      .form a {
        font-size: 16px;
        color: #009579;
        text-decoration: none;
      }
      .form a:hover {
        text-decoration: underline;
      }
      .form input.button {
        color: #fff;
        background: #009579;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 1.7rem;
        cursor: pointer;
        transition: 0.4s;
      }
      .form input.button:hover {
        background: #006653;
      }
      .signup {
        font-size: 17px;
        text-align: center;
      }
      .signup label {
        color: #009579;
        cursor: pointer;
      }
      .signup label:hover {
        text-decoration: underline;
      }
      .message {
        position: absolute;
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <br />
      <div class="login form">
        <% if(messages && messages.error && messages.error.length != 0) { %>
          <div style="background-color: #fee2e2;border-color: #f87171;color: #ef4444;border-radius: 3px; position: relative;padding: 10px;text-align: center;margin-bottom: 20px;" role="alert">
            <% for(var i=0; i < messages.error.length; i++ ) { %>
           <strong> <%= messages.error[i] %> </strong>
           <% } %>
         </div>
         <% } %>
        <header>Admin Registration for Online Voting Platform</header>
        <hr />
        <form action="/SignUpUser" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
          <input
            type="text"
            placeholder="Enter Your FirstName"
            name="fname"
            required
          />
          <input
            type="text"
            placeholder="Enter Your LastName"
            name="lname"
            required
          />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter Your Email"
            onkeyup="validate()"
            required
          />
          <input
            type="Password"
            name="password"
            id="pass"
            placeholder="Enter Your Password"
            onkeyup="passvalid()"
            required
          />
          <input type="submit" class="button" value="Register" />
        </form>
      </div>
    </div>
    <script>
      var email = document.getElementById("email");
    
      function validate() {
        if (
          !email.value.match(
            /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
          )
        ) {
          email.style.borderColor = "red";
        } else {
          email.style.borderColor = "green";
        }
      }
    </script>
  </body>
</html>
