<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
     <div class="grid justify-center mt-5">
        <div class="text-4xl bold block">
            Online Voting Platform<a
              class="mx-20 text-xl rounded bg-green-700 font-medium p-2 outline-none text-white"
              href="/Signout/Voter"
              >SignOut</a
            >
          </div>
     </div>
</body>
</html>